 
@media (min-width: 320px) and (max-width: 575.98px) {
     .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: black;
    border-radius: 10px;
	}   

    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        text-align: center;
        background-color: transparent;
        color: white;
        font-weight: 400;
        border-radius: 5px;
        border-bottom: 1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .nav-link.active{
          color: white;
           font-weight: 400;
        border: none;
        border-radius: 5px;
         border-bottom:1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .check,.checks{
        display: none;
    }

    .navbar-nav .nav-item .nav-link:hover{
        background-color: #c9d0d8;
    }

    .navbar-toggler-icon{
    background-color: white;
        border-radius: 3px;
    }
    .navbar-light .navbar-toggler{
        color: white;
    }
    .banner_part_shadow{
        padding-top: 160px;
        font-size: 60px;
    }
    
    .banner_text {
    text-align: center;
    width: 100%
    }
    .banner_text a {
    font-size: 17px;
    padding: 15px 21px;
    border-radius: 25px;
    margin: 0px;
    }
    .banner_text h1 {
    font-size: 60px;
    }
    .navbar-brand, .navbar-collapse{
        padding-top: 10px;
    }
.banner_text p {
    font-size: 15px;  
padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 10px;;
    padding-right: 10px;
}
 .banner_text span p {
    margin-top: 20px;
    }
    .about_right {
    margin-left: 0px;
    margin-top: 35px;
    }
    
    .margins{
        text-align: center;
    }
    .margins img{
        margin: 20px 0px;
    }
    .both_padding{
        margin:40px 0px;
    }
    .top_box {
    width: 70px;
    height: 108px;
    text-align: center;
    position: absolute;
    right: 18px;
    top: -6px;
    padding-top: 8px;
    }
    .right_border2{
        margin: 20px 0px;
    }
    .right_border3{
        margin-bottom: 20px;
    }
    .cpoint_content span {
        margin-bottom: 10px;
    }
    .footer_content p{
        font-size: 13px;
    }
    .follow_icons ul li {
        margin: 0px 7px;
    }
    .number_cont {
    padding: 15px 0px;
    }
    .number_cont span {
    font-size: 35px
    }

.testfinal{
    background: url(../image/mask01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.middle_services{
    height: 300px;
 
}
.kisu,.kisu2,.kisu3{
       border-bottom: 20px solid white;
     border-right:none;
    padding: 0px 20px;
}

.finals h4{
    margin-bottom: 30px;
}
.finalnow h4{
    margin-bottom: 30px;
}
.final h4{
    margin-bottom: 30px;
}
.finalnow p{
    margin-bottom: 30px
}
.final p{
    margin-bottom: 30px
}
.finals p{
    margin-bottom: 30px
}
.finalnow a{
    margin-bottom: 20px;
    display: block;
}
.finals a{
    margin-bottom: 20px;
    display: block;
}
.final a{
    margin-bottom: 20px;
    display: block;
}
.final,.finals,.finalnow{
    text-align: center;
    background-color: white;
    margin-top: 22px;
    padding:13px 20px;
}
    #our_services {
    padding: 55px 0px;
}

    .accordion-item:first-of-type .accordion-button {
    border-radius: 40px;
    }
    .accordion-button.collapsed{
         border-radius: 40px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed{
         border-radius: 40px;
    }
    
    
    
}





@media (min-width: 576px) and (max-width: 767.98px) {

.service_top {
    padding-bottom: 70px;
}
     .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        text-align: center;
        background-color: transparent;
        color: white;
        font-weight: 400;
        border-radius: 5px;
        border-bottom: 1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .nav-link.active{
          color: white;
           font-weight: 400;
        border: none;
        border-radius: 5px;
         border-bottom:1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .check,.checks{
        display: none;
    }

    .navbar-nav .nav-item .nav-link:hover{
        background-color: #c9d0d8;
    }

    .navbar-toggler-icon{
    background-color: white;
        border-radius: 3px;
    }
    .navbar-light .navbar-toggler{
        color: white;
    }
    .navbar-brand, .navbar-collapse {
    padding-top: 10px
    }
    .banner_text {
    text-align: center;
    width: 100%
    }
    .banner_text h1 {
    font-size: 61px
    }
    .banner_part_shadow {

    padding-top: 180px;
    }
    .banner_text span p {
    margin-top: 80px;
    }
    .about_right{
        margin-top: 30px;
    }
    #our_services {
    padding: 70px 0px;
    }

    .number_cont {
    text-align: center;
    padding: 20px 0px;
    }
    .black ul {
    right: 25px;
    top: 30px;
    }
    .black {
    margin-bottom: 40px;
    }
    .leftbutton a{
        left: 12px;
    }
      .both_padding{
        margin:40px 0px;
    }
        .margins{
        text-align: center;
    }
    .margins img{
        margin: 20px 0px;
    }
    .right_price{
        margin-left: 120px;
    }
    .right_border,.right_border2,.right_border3{
        border-right: 1px solid transparent;
    }
    .cpoint_content{
        margin-bottom: 30px;
    }
    .cpoint_content span{
        margin-bottom: 10px;
    }
    .follow {
    padding-top: 35px;
    }
    .finals h4 {
    margin-bottom: 20px;
    margin-top: 10px;
    }
.finalnow h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
.final h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
    
.final, .finals, .finalnow {
    text-align: center;
    background-color: white;
    margin-top: 17px;
    padding: 40px 20px;
}
    .kisu,.kisu2,.kisu3{
       border-bottom: 20px solid white;
     border-right:none;
        padding: 0px 20px;
    }
    
    .accordion-button.collapsed {
    border-radius: 28px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 28px
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px){
    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        text-align: center;
        background-color: transparent;
        color: white;
        font-weight: 400;
        border-radius: 5px;
        border-bottom: 1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .nav-link.active{
          color: white;
           font-weight: 400;
        border: none;
        border-radius: 5px;
         border-bottom:1px solid #c9d0d8;
    }
    .navbar-nav .nav-item .check,.checks{
        display: none;
    }

    .navbar-nav .nav-item .nav-link:hover{
        background-color: #c9d0d8;
    }

    .navbar-toggler-icon{
    background-color: white;
        border-radius: 3px;
    }
    .navbar-light .navbar-toggler{
        color: white;
    }
    .navbar-brand, .navbar-collapse {
    padding-top: 10px
    }
    .banner_part_shadow{
        padding-top: 190px;
    }
    .banner_text span p{
        padding-top: 90px;
    }
    .about_right{
        margin-top: 40px;
        margin-left: 0px;
    }
        
    
    .number_cont p{
        font-size: 15px;
    }
    .number_cont span{
        font-size: 30px
    }
    .accordion-item:first-of-type .accordion-button,.accordion-button.collapsed{
        font-size: 17px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 35px;
    }

    .right_price{
        width: 50%;
        margin: auto;
            margin: 40px auto;
    }
    .leftimg{
        text-align: right;
    }
    .purchase{
        width: 80%;
        margin: auto;
    }
    .blockquote-footer{
        text-align: center;
    }
    .leftbutton i {
    border: 1px solid #147e90;
    font-size: 18px;
    padding: 9px 12px;
    }
    .leftbutton a{
        left: -24px;
    }
    .banner_text h1 {
    font-size: 75px
    }
    .banner_text span p {
    padding-top: 30px;
    }
    .right_border2 {
    border-right: 1px solid transparent;
    }
    .cpoint_content {
    margin-bottom: 30px
    }
    
    .finals h4 {
    margin-bottom: 20px;
    margin-top: 10px;
    }
.finalnow h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
.final h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
    
.final, .finals, .finalnow {
    text-align: center;
    background-color: white;
    margin-top: 17px;
    padding: 40px 20px;
}
    .kisu,.kisu2,.kisu3{
       border-bottom: 20px solid white;
     border-right:none;
        padding: 0px 20px;
    }
    .middle_services{
    height: 280px;
    }
      .finals h4{
        font-size: 26px;
    }
    .final h4{
         font-size: 26px;
    }
    .finalnow h4{
        font-size: 26px;
    }
    
}


/*   lg start */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navbar-nav .nav-item .check {
    padding: 8px 15px;
    margin-left: 50px;
    }
    .banner_text {
    width: 100%;
    }
    .banner_text h1 {
    font-size: 90px
    }
    .banner_text p{
        width: 85%;
        margin: auto;
    }
    .banner_part_shadow {
        padding-top: 260px;
    }
    .top_padd{
        margin-top: 30px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed,.accordion-button.collapsed {
    border-radius: 30px;
    }
    .leftbutton a{
        left: -6px;
    }
    .top_box{
        right: 20px;
    }
    .right_border2 {
    border-right: 1px solid transparent;
    }
    .cpoint_content{
        margin-bottom: 35px;
    }
    .middle_services{
    height: 302px;
    }
    .final, .finals, .finalnow {
    text-align: center;
    background-color: white;
    margin-top: 20px;
    padding: 20px 15px;
    }
    .finals,.finalnow,.final p{
        font-size: 15px;
    }
    
    
}
    

@media (min-width: 1200px) and (max-width: 1399.98px) {
     .banner_text{
        width: 85%;
    }
    .banner_text h1 {
    font-size: 112px
    }
    .banner_part_shadow {
    padding-top: 264px
    }
    .middle_services {
    height: 288px;
    }
    .finals,.finalnow,.final p {
    margin-bottom: 30px;
    font-size: 15px;
    }
}
    
/* xxl */
@media (min-width: 1400px) {
    .navbar-nav .nav-item .check{
        margin-left: 235px;
    }

    .banner_text{
        width: 85%;
    }
    .banner_text h1 {
    font-size: 125px
    }
    .banner_part_shadow {
    padding-top: 264px
    }
    .final, .finals, .finalnow {
    text-align: center;
    background-color: white;
    margin-top: 20px;
    padding: 40px 15px;
    }
    .middle_services {
    height: 327px;
    }
    
}
    


